In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Configure display
pd.set_option('display.max_columns', 100)

In [3]:
# Load the LendingClub dataset
file_path = '../data/raw/lendingclub_loan.csv'
df = pd.read_csv(file_path, low_memory=False)

# Check shape
print("Dataset loaded. Shape:", df.shape)

Dataset loaded. Shape: (2260701, 151)

In [4]:
# Preview first few rows
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,...,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,190xx,PA,5.91,0.0,Aug-2003,675.0,679.0,1.0,30.0,NaN,7.0,0.0,2765.0,29.7,13.0,w,0.00,0.00,4421.723917,4421.72,3600.00,821.72,0.0,0.0,0.0,Jan-2019,122.67,NaN,...,4.0,7.0,0.0,0.0,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,Business,577xx,SD,16.06,1.0,Dec-1999,715.0,719.0,4.0,6.0,NaN,22.0,0.0,21470.0,19.2,38.0,w,0.00,0.00,25679.660000,25679.66,24700.00,979.66,0.0,0.0,0.0,Jun-2016,926.35,NaN,...,5.0,22.0,0.0,0.0,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,home_improvement,NaN,605xx,IL,10.78,0.0,Aug-2000,695.0,699.0,0.0,NaN,NaN,6.0,0.0,7869.0,56.2,18.0,w,0.00,0.00,22705.924294,22705.92,20000.00,2705.92,0.0,0.0,0.0,Jun-2017,15813.30,NaN,...,3.0,6.0,0.0,0.0,0.0,0.0,100.0,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.0,Source Verified,Dec-2015,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,076xx,NJ,17.06,0.0,Sep-2008,785.0,789.0,0.0,NaN,NaN,13.0,0.0,7802.0,11.6,17.0,w,15897.65,15897.65,31464.010000,31464.01,19102.35,12361.66,0.0,0.0,0.0,Feb-2019,829.90,Apr-2019,...,5.0,13.0,0.0,0.0,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,104433.0,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,major_purchase,Major purchase,174xx,PA,25.37,1.0,Jun-1998,695.0,699.0,3.0,12.0,NaN,12.0,0.0,21929.0,64.5,35.0,w,0.00,0.00,11740.500000,11740.50,10400.00,1340.50,0.0,0.0,0.0,Jul-2016,10128.96,NaN,...,6.0,12.0,0.0,0.0,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Check basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Columns: 151 entries, id to settlement_term
dtypes: float64(113), object(38)
memory usage: 2.5+ GB

In [6]:
# Check missing value % per column
missing_percent = df.isnull().mean().sort_values(ascending=False) * 100
missing_percent[missing_percent > 0]

member_id                                     100.000000
orig_projected_additional_accrued_interest     99.617331
hardship_reason                                99.517097
hardship_payoff_balance_amount                 99.517097
hardship_last_payment_amount                   99.517097
                                                 ...
total_rec_late_fee                              0.001460
total_rec_int                                   0.001460
disbursement_method                             0.001460
hardship_flag                                   0.001460
debt_settlement_flag                            0.001460
Length: 150, dtype: float64

In [7]:
# Check loan status value counts
df['loan_status'].value_counts(dropna=False)

loan_status
Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
NaN                                                         33
Name: count, dtype: int64

In [8]:
# Drop columns with more than 90% missing values
df_cleaned = df.loc[:, df.isnull().mean() < 0.9]
print("Remaining columns after dropping high-missing ones:", df_cleaned.shape[1])

Remaining columns after dropping high-missing ones: 113

In [9]:
cols_to_drop = [
    'id', 'member_id', 'url', 'zip_code', 'desc', 'title', 'emp_title'
]

df_cleaned = df_cleaned.drop(columns=cols_to_drop, errors='ignore')

In [12]:
import pandas as pd
import numpy as np

# Reload with low_memory=False to avoid mixed-type warnings
df_cleaned = pd.read_csv(
    "../data/processed/lendingclub_cleaned.csv",
    parse_dates=['issue_d'],
    low_memory=False
)

# Quick check of columns
print(df_cleaned.columns.tolist())

C:\Users\mahas\AppData\Local\Temp\ipykernel_64720\1752718041.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_cleaned = pd.read_csv(

['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'fico_range_low', 'fico_range_high', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'last_fico_range_high', 'last_fico_range_low', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'hardship_flag', 'disbursement_method', 'debt_settlement_flag', 'loan_default']

In [14]:
# Ensure issue_d is datetime
df_cleaned['issue_d'] = pd.to_datetime(df_cleaned['issue_d'], errors='coerce')

# Reference date for tenure calc
today = pd.to_datetime('2025-07-17')

# Calculate customer tenure in months (accurately)
if 'customer_tenure' not in df_cleaned:
    today = pd.to_datetime('2025-07-17')
    df_cleaned['customer_tenure'] = (
        (today.to_period('M') - df_cleaned['issue_d'].dt.to_period('M'))
        .apply(lambda x: x.n)
    ).astype('Int64')  # Allow missing if issue_d is NaT


# ARPU = avg rev per user
if 'ARPU' not in df_cleaned:
    df_cleaned['ARPU'] = df_cleaned['total_pymnt'] / df_cleaned['customer_tenure'].replace(0, pd.NA)

# CLTV = ARPU × tenure
if 'CLTV' not in df_cleaned:
    df_cleaned['CLTV'] = df_cleaned['ARPU'] * df_cleaned['customer_tenure']

In [15]:
import numpy as np
import pandas as pd

# Define relevant numeric columns to analyze
outlier_cols = [
    'loan_amnt', 'annual_inc', 'installment',
    'int_rate', 'total_pymnt', 'recoveries',
    'customer_tenure', 'ARPU', 'CLTV'
]

# Store summary stats
outlier_summary = {}

# Loop through each column
for col in outlier_cols:
    Q1 = df_cleaned[col].quantile(0.25)
    Q3 = df_cleaned[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    outliers = df_cleaned[(df_cleaned[col] < lower) | (df_cleaned[col] > upper)]
    outlier_pct = round(len(outliers) / len(df_cleaned) * 100, 2)

    outlier_summary[col] = {
        'Q1': Q1,
        'Q3': Q3,
        'Lower Bound': lower,
        'Upper Bound': upper,
        'Outlier Count': len(outliers),
        'Outlier %': outlier_pct
    }

outlier_df = pd.DataFrame(outlier_summary).T.sort_values("Outlier %", ascending=False)
outlier_df

,Q1,Q3,Lower Bound,Upper Bound,Outlier Count,Outlier %
recoveries,0.000000,0.000000,0.000000,0.000000,184684.0,13.73
annual_inc,45780.000000,90000.000000,-20550.000000,156330.000000,65873.0,4.90
ARPU,57.424516,170.272156,-111.846943,339.543616,43278.0,3.22
installment,248.480000,580.730000,-249.895000,1079.105000,42044.0,3.13
CLTV,6837.962501,20585.137500,-13782.799998,41205.899999,30765.0,2.29
total_pymnt,6837.962501,20585.137500,-13782.799998,41205.899999,30765.0,2.29
customer_tenure,108.000000,132.000000,72.000000,168.000000,27293.0,2.03
int_rate,9.750000,15.990000,0.390000,25.350000,24981.0,1.86
loan_amnt,8000.000000,20000.000000,-10000.000000,38000.000000,7159.0,0.53

In [16]:
df_cleaned.to_csv(
    "../data/processed/lendingclub_cleaned_outliers_removed.csv",
    index=False
)

In [17]:
from sqlalchemy import create_engine

engine = create_engine("postgresql://postgres:postgres@localhost:5432/finsurf")  

df_cleaned.to_sql("loan_data_cleaned", engine, if_exists="replace", index=False)

57

In [11]:
# Keep only records where loan_status is one of three categories
valid_statuses = ['Fully Paid', 'Charged Off', 'Default']
df_cleaned = df_cleaned[df_cleaned['loan_status'].isin(valid_statuses)]

# Create binary target: 1 = Default, 0 = Paid
df_cleaned['loan_default'] = df_cleaned['loan_status'].apply(
    lambda x: 1 if x in ['Charged Off', 'Default'] else 0
)

In [12]:
df_cleaned.to_csv('../data/processed/lendingclub_cleaned.csv', index=False)

In [13]:
# Convert issue_d to datetime
df_cleaned['issue_d'] = pd.to_datetime(df_cleaned['issue_d'], format='%b-%Y', errors='coerce')

# Calculate customer_tenure in months
df_cleaned['customer_tenure'] = (2025 - df_cleaned['issue_d'].dt.year) * 12 + (7 - df_cleaned['issue_d'].dt.month)

In [14]:
df_cleaned['customer_tenure'].describe()

count    1.345350e+06
mean     1.208293e+02
std      1.942219e+01
min      7.900000e+01
25%      1.080000e+02
50%      1.190000e+02
75%      1.320000e+02
max      2.170000e+02
Name: customer_tenure, dtype: float64

In [15]:
def income_bucket(inc):
    if inc < 40000:
        return 'Low'
    elif inc < 80000:
        return 'Mid'
    elif inc < 150000:
        return 'Upper-Mid'
    else:
        return 'High'

df_cleaned['income_group'] = df_cleaned['annual_inc'].apply(income_bucket)

In [16]:
df_cleaned['income_group'].value_counts()

income_group
Mid          663476
Upper-Mid    387303
Low          210384
High          84187
Name: count, dtype: int64

In [17]:
def map_purpose(purpose):
    if purpose in ['debt_consolidation', 'credit_card']:
        return 'Debt'
    elif purpose in ['home_improvement', 'major_purchase', 'medical']:
        return 'Home/Health Spend'
    elif purpose in ['small_business', 'educational']:
        return 'Investment'
    else:
        return 'Other'

df_cleaned['product_segment'] = df_cleaned['purpose'].apply(map_purpose)

In [18]:
df_cleaned['product_segment'].value_counts()

product_segment
Debt                 1075627
Home/Health Spend     132490
Other                 121491
Investment             15742
Name: count, dtype: int64

In [19]:
df_cleaned['delinquency_flag'] = df_cleaned['loan_status'].apply(
    lambda x: 1 if x in ['Charged Off', 'Default'] else 0
)

In [20]:
df_cleaned['delinquency_flag'].value_counts()

delinquency_flag
0    1076751
1     268599
Name: count, dtype: int64

In [21]:
def classify_recency(tenure):
    if tenure < 12:
        return 'Recent'
    elif tenure < 36:
        return 'Mid-Term'
    else:
        return 'Old'

df_cleaned['simulated_recency'] = df_cleaned['customer_tenure'].apply(classify_recency)

df_cleaned['simulated_recency'].value_counts()

simulated_recency
Old    1345350
Name: count, dtype: int64

In [22]:
def classify_recency(tenure):
    if tenure < 100:
        return 'Recent'
    elif tenure < 150:
        return 'Mid-Term'
    else:
        return 'Old'

df_cleaned['simulated_recency'] = df_cleaned['customer_tenure'].apply(classify_recency)
df_cleaned['simulated_recency'].value_counts()

simulated_recency
Mid-Term    1066560
Recent       178765
Old          100025
Name: count, dtype: int64

In [23]:
import os

# Save the cleaned & enriched dataset
df_cleaned.to_csv('../data/processed/lendingclub_processed.csv', index=False)

print("Processed dataset saved.")

Processed dataset saved.

In [24]:
import sqlite3
import pandas as pd

# Load the cleaned CSV
df = pd.read_csv('../data/processed/lendingclub_processed.csv')

# Connect to SQLite (creates the DB file if not exists)
conn = sqlite3.connect('../data/processed/finsurf.db')

# Write the DataFrame to a table named 'loans'
df.to_sql('loans', conn, if_exists='replace', index=False)

print("Data loaded into SQLite database.")

C:\Users\mahas\AppData\Local\Temp\ipykernel_51036\1991586098.py:5: DtypeWarning: Columns (42) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/processed/lendingclub_processed.csv')

Data loaded into SQLite database.

In [25]:
query = """
SELECT income_group, COUNT(*) AS loan_count
FROM loans
GROUP BY income_group
ORDER BY loan_count DESC
"""
pd.read_sql(query,conn)

  income_group  loan_count
0          Mid      663476
1    Upper-Mid      387303
2          Low      210384
3         High       84187

In [26]:
query = """
SELECT product_segment, ROUND(AVG(loan_default)*100, 2) AS default_rate_pct
FROM Loans
GROUP BY product_segment
ORDER BY default_rate_pct DESC
"""
pd.read_sql(query,conn)

     product_segment  default_rate_pct
0         Investment             29.45
1              Other             20.22
2               Debt             19.99
3  Home/Health Spend             18.39

In [27]:
query = """
SELECT income_group, ROUND(AVG(customer_tenure), 1) AS avg_tenure, ROUND(AVG(annual_inc), 2) AS avg_income
FROM loans
GROUP BY income_group
ORDER BY avg_income DESC
"""
pd.read_sql(query, conn)

  income_group  avg_tenure  avg_income
0         High       118.2   218754.68
1    Upper-Mid       119.9   102211.40
2          Mid       121.3    57656.71
3          Low       122.1    30053.39

In [28]:
query = """
SELECT simulated_recency, COUNT(*) AS total_customers, SUM(loan_default) AS total_defaults, ROUND(SUM(loan_default)*1.0 / COUNT(*), 3) AS churn_rate
FROM loans
GROUP BY simulated_recency
ORDER BY churn_rate DESC
"""
pd.read_sql(query, conn)

  simulated_recency  total_customers  total_defaults  churn_rate
0            Recent           178765           37292       0.209
1          Mid-Term          1066560          215943       0.202
2               Old           100025           15364       0.154

In [29]:
result = pd.read_sql(query, conn)
result.to_csv('../data/processed/churn_by_recency.csv', index=False)

In [30]:
conn.close()

In [31]:
pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in c:\users\mahas\finsurf\venv\lib\site-packages (2.0.41)
Requirement already satisfied: psycopg2-binary in c:\users\mahas\finsurf\venv\lib\site-packages (2.9.10)
Requirement already satisfied: greenlet>=1 in c:\users\mahas\finsurf\venv\lib\site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mahas\finsurf\venv\lib\site-packages (from sqlalchemy) (4.14.1)
Note: you may need to restart the kernel to use updated packages.

In [41]:
import pandas as pd

df_cleaned = pd.read_csv('../data/processed/lendingclub_cleaned.csv', low_memory=False)

In [43]:
from sqlalchemy import create_engine

user = 'postgres'
password = 'postgres'
host = 'localhost'
port = '5432'
db = 'finsurf'

# PostgreSQL connection URI
engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}')

# Upload cleaned DataFrame to PostgreSQL
df_cleaned.to_sql("loan_data", engine, if_exists='replace', index=False)

print("Data uploaded to PostgreSQL table 'loan_data'")

Data uploaded to PostgreSQL table 'loan_data'

In [45]:
import pandas as pd
from sqlalchemy import create_engine

# Replace with your actual PostgreSQL connection details
user = "postgres"
password = "postgres"
host = "localhost"
port = "5432"
db = "finsurf"

engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}')

# Load enriched table from PostgreSQL
df_enriched = pd.read_sql("SELECT * FROM loan_data", con=engine)

# Save to CSV
df_enriched.to_csv('../data/processed/loan_data_enriched.csv', index=False)

print("Enriched dataset saved as 'loan_data_enriched.csv'")

Enriched dataset saved as 'loan_data_enriched.csv'

In [46]:
import pandas as pd

df = pd.read_sql("SELECT * FROM customer_feature_view", engine)

In [47]:
df.to_csv('../data/processed/customer_features.csv', index=False)

In [48]:
import pandas as pd
import psycopg2

conn = psycopg2.connect(
    host="localhost",     
    database="finsurf",
    user="postgres",
    password="postgres",
    port="5432"            
)

query = """
SELECT * FROM loan_rolling_avg_3mo;
"""

df = pd.read_sql(query, conn)

df.to_csv("rolling_avg_3mo.csv", index=False)


conn.close()

C:\Users\mahas\AppData\Local\Temp\ipykernel_51036\3380377162.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [53]:
import pandas as pd
import psycopg2

conn = psycopg2.connect(
    host="localhost",     
    database="finsurf",
    user="postgres",
    password="postgres",
    port="5432"            
)

query = """
WITH income_ratio_cte AS (
    SELECT
        customer_id,
        TO_CHAR(TO_DATE(issue_d, 'Mon-YYYY'), 'YYYY-MM') AS issue_month,
        ROUND(AVG((installment / NULLIF(annual_inc, 0))::numeric), 4) AS avg_income_ratio
    FROM loan_data
    GROUP BY customer_id, issue_d
)
SELECT * FROM income_ratio_cte;

"""

df = pd.read_sql(query, engine)
df.to_csv("cohort_income_ratio.csv", index=False)

conn.close()

In [6]:
import pandas as pd
from sqlalchemy import create_engine

user = "postgres"
password = "postgres"
host = "localhost"
port = "5432"
db = "finsurf"


engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}')


query = "SELECT * FROM customer_feature_view;"
df_features = pd.read_sql(query, engine)


df_features.to_csv("../data/exports/customer_feature_view.csv", index=False)

In [10]:
import shutil
import os

source_dir = "../notebooks"
target_dir = "../data/exports"


os.makedirs(target_dir, exist_ok=True)


files_to_move = [
    "rolling_avg_3mo.csv",
    "cohort_income_ratio.csv"
]


for file in files_to_move:
    src = os.path.join(source_dir, file)
    dst = os.path.join(target_dir, file)
    if os.path.exists(src):
        shutil.move(src, dst)
        print(f"Moved {file} to {target_dir}")
    else:
        print(f"{file} not found in {source_dir}")

Moved rolling_avg_3mo.csv to ../data/exports
Moved cohort_income_ratio.csv to ../data/exports

In [12]:
import shutil
import os

folder_to_delete = "../notebooks/data"  

# Delete the folder
if os.path.exists(folder_to_delete) and os.path.isdir(folder_to_delete):
    shutil.rmtree(folder_to_delete)
    print(f"Deleted folder: {folder_to_delete}")
else:
    print(f"Folder not found: {folder_to_delete}")

Deleted folder: ../notebooks/data

In [14]:
df_cohort = pd.read_sql(query, engine)
df_cohort.to_csv("../data/exports/cohort_churn.csv", index=False)

In [16]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://postgres:postgres@localhost:5432/finsurf")


query = """
WITH churn_cte AS (
    SELECT
        customer_id,
        TO_DATE(issue_d, 'Mon-YYYY') AS issue_date,
        TO_DATE(last_pymnt_d, 'Mon-YYYY') AS last_payment_date,
        loan_status,
        DATE_PART('year', CURRENT_DATE) * 12 + DATE_PART('month', CURRENT_DATE)
        - (DATE_PART('year', TO_DATE(last_pymnt_d, 'Mon-YYYY')) * 12 + DATE_PART('month', TO_DATE(last_pymnt_d, 'Mon-YYYY'))) AS inactive_months,
        (DATE_PART('year', TO_DATE(last_pymnt_d, 'Mon-YYYY')) * 12 + DATE_PART('month', TO_DATE(last_pymnt_d, 'Mon-YYYY')))
        - (DATE_PART('year', TO_DATE(issue_d, 'Mon-YYYY')) * 12 + DATE_PART('month', TO_DATE(issue_d, 'Mon-YYYY'))) AS tenure_months
    FROM loan_data
)
SELECT 
    customer_id,
    issue_date,
    last_payment_date,
    loan_status,
    inactive_months,
    tenure_months,
    CASE 
        WHEN inactive_months > 6 THEN 1
        ELSE 0
    END AS churn_flag
FROM churn_cte;
"""

df = pd.read_sql(query, engine)

df.to_csv("../data/exports/churn_risk_table.csv", index=False)

print("churn_risk_table.csv exported to data/exports/")

churn_risk_table.csv exported to data/exports/